.home {
  $spacing: $container-gutter;

  &__section {
    position: relative;

    &--dark {
      background-color: $background;
    }

    &--gradient {
      background-image: linear-gradient(to bottom, $background 0, transparent 40%);
    }

    &--with-waves {
      margin-bottom: -90px;
      padding-bottom: $spacing * 6;
      overflow: hidden;
      background-color: $background;

      .home__container {
        position: relative;

        &:before,
        &:after {
          position: absolute;
          width: 600px;
          height: 500px;
          background-image: url('../../assets/waves-pattern.png');
          background-repeat: no-repeat;
          background-size: contain;
          content: '';
        }

        &:before {
          top: 0;
          right: 0;
          transform: rotate(180deg) translate(-370px, 190px);
        }

        &:after {
          bottom: -90px;
          left: 0;
          transform: translate(-300px, 260px);
        }
      }
    }
  }

  &__container {
    @extend %container;

    position: relative;
    z-index: 1;
    padding-top: ($spacing * 3);
    padding-bottom: ($spacing * 3);

    &--no-spacing {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__row {
    &--flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__row + &__row {
    padding-top: 3em;
  }

  &__row--flex + &__row--flex {
    padding-top: 3em;
  }

  &__column + &__column {
    margin-top: 2 * $spacing;
  }

  &__text {
    @extend %text;

    &--spaced {
      margin-bottom: 2em;
    }

    &:last-of-type {
      margin-bottom: 2em;
    }

    & + & {
      margin-top: .5em;
    }
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__image {
    max-width: 40%;
    height: auto;
    margin-left: 1.5em;
    padding: 1.5em 0;
  }

  @media #{$screen-md} {
    &__container {
      padding-top: ($spacing * 6);
      padding-bottom: ($spacing * 6);

      &--no-spacing {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

$colsNumber: 12;
$spacing: $container-gutter;

@for $i from 1 through $colsNumber {
  .col-#{$i} {
    flex: 0 0 100%;
    padding: 10px 0;

    @media #{$screen-md} {
      flex: calc((100% / #{$colsNumber} * #{$i}) - (#{$spacing} * #{$i}));

      & + & {
        margin-left: $spacing;
      }
    }
  }
}

@media #{$screen-md} {
  .col-narrow {
    padding-right: 4em;
  }
}

@media #{$screen-lg} {
  .col-narrow {
    padding-right: 7em;
  }
}
