.button {
  $button-radius: 4px;
  $button-line-height: 2.5em;
  $button-padding: 1.5em;
  $button-border: 2px;
  $button-margin: 1em;

  display: inline-block;
  padding: 0 $button-padding;
  font-weight: 700;
  line-height: $button-line-height;
  color: $white;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;

  &--action {
    @include flex-font(17, 20);

    letter-spacing: 1px;
    text-decoration: none;
    background-color: $action;
    border-radius: $button-radius;
    box-shadow: 0 10px 23px 0 rgba($action, .15);
    transition: background-color .3s, color .2s, box-shadow .3s;

    &:hover,
    &:active {
      background-color: $razzmatazz;
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
    }
  }
}
