.grid {
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  min-width: calc(100% / 2);
  overflow: hidden;
  pointer-events: none;

  &__column {
    height: 100%;
    min-width: 100%;

    @media #{$screen-sm} {
      min-width: calc(100% / 2);
    }

    @media #{$screen-md} {
      min-width: calc(100% / 3);
    }

    @media #{$screen-lg} {
      min-width: calc(100% / 5);
    }
  }

  &__column + &__column {
    border-left: 1px solid rgba($line, .2);
  }

  @media #{$screen-xl} {
    left: calc((100% - 1440px) / 2);

    &__column:first-child {
      border-left: 1px solid rgba($line, .2);
    }

    &__column:last-child {
      border-right: 1px solid rgba($line, .2);
    }
  }
}
