.grid {
	position: absolute;
	top: 0;
	display: flex;
	width: 100%;
	max-width: 1440px;
	height: 100%;
	overflow: hidden;
	z-index: 2;
	pointer-events: none;

	&__column {
		height: 100%;
		min-width: 100%;

		@media #{$screen-sm} {
			height: 100%;
			min-width: calc(100% / 2);
		}

		@media #{$screen-md} {
			height: 100%;
			min-width: calc(100% / 3);
		}

		@media #{$screen-lg} {
			height: 100%;
			min-width: calc(100% / 5);
		}
	}

	&__column + &__column {
		border-left: 1px solid rgba($line, .2);
	}
	@media #{$screen-xl} {
		left: calc((100% - 1440px) / 2);

		&__column:first-child {
			border-left: 1px solid rgba($line, .2);
		}
	
		&__column:last-child {
			border-right: 1px solid rgba($line, .2);
		}
	}
}
