.hero {
  $spacing: $container-gutter;
  $inner-spacing: 1.5em;

  position: relative;
  z-index: 1;
  overflow: hidden;
  color: $white;
  background-color: $accent;

  &__container {
    @extend %container;

    padding: ($inner-spacing * 2) ($spacing * 2) ($inner-spacing * 2);
  }

  &__title {
    @include flex-font(40, 58);

    margin-top: 0;
    margin-bottom: .5em;
    line-height: 1.1;

    &--color {
      color: $action;
    }
  }

  &__text {
    @extend %text;

    max-width: 440px;
  }

  &__hint {
    @include flex-font(18, 20);

    margin: $inner-spacing 0;
    font-weight: 700;
    line-height: 1.5;
  }

  &__image-xs,
  &__image-md {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: auto;
    height: 100%;
  }

  &__image-md {
    display: none;
  }

  &__image-xs {
    transform: translateX(40%);
  }

  @media #{$screen-md} {
    &:before {
      display: none;
      visibility: hidden;
    }

    &__title {
      max-width: 55%;
    }

    &__image-xs {
      display: none;
    }

    &__image-md {
      display: block;
      transform: translateX(30%);
    }
  }

  @media #{$screen-md} {
    &__container {
      padding-right: $spacing;
      padding-left: $spacing;
    }
  }

  @media #{$screen-lg} {
    &__container {
      padding-top: ($inner-spacing * 4);
      padding-bottom: ($inner-spacing * 4);
    }

    &__image-md {
      transform: translateX(10%);
    }
  }
}
