.hero {
  $spacing: $container-gutter;
  $inner-spacing: 2em;

  position: relative;
  z-index: 1;
  overflow: hidden;
  color: $white;
  background-color: $accent;

  &__container {
    @extend %container;

    padding: ($inner-spacing * 2) $spacing ($inner-spacing * 3);
  }

  &__title {
    margin-top: 0;
    margin-bottom: .2em;
    font-size: map-get($font-sizes, 'grand');
    line-height: 1.2;

    &--color {
      color: $action;
    }
  }

  &__text {
    margin-bottom: ($inner-spacing * 1.5);
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;
  }

  &__hint {
    margin-bottom: $spacing;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.5;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: auto;
    height: 100%;
    transform: translateX(70%);
  }

  @media #{$screen-md} {
    &__title,
    &__text {
      max-width: 55%;
    }
  }

  @media #{$screen-lg} {
    &__image {
      transform: translateX(10%);
    }
  }
}
