$blue: #1e12ff;
$strawberry: #ff227a;
$razzmatazz: #d90d5e;
$mine-shaft: #353535;
$yellow: #ffe222;
$alabaster: #fbfaff;
$white: white;
$line: #d8d8d8;

$text: $mine-shaft;
$background: $alabaster;
$accent: $blue;
$action: $strawberry;
