%list-item-dotted {
  $item-dot-size: 7px;
  $line-height: 1.5;

  position: relative;
  padding-left: 1.5em;

  &:before {
    position: absolute;
    top: calc((23px + #{$item-dot-size / 2}) / 2);
    left: 0;
    width: $item-dot-size;
    height: $item-dot-size;
    background-color: $accent;
    border-radius: 2px;
    content: '';
    box-shadow: 2px 2px 0 0 $action;
  }
}

%fullsize-centered {
  position: absolute;
  top: 52%;
  left: 52%;
  min-width: 104%;
  min-height: 104%;
  transform: translate(-52%, -52%);
  object-fit: cover;
}

$footer-size-sm: 80px;
$footer-size-lg: 100px;
