.pattern {
  position: relative;
  z-index: 9;
  width: 100%;
  overflow: hidden;
  background-color: $action;

  &__background {
    position: absolute;
    margin: -1rem .3em;
    font-size: calc(90px + (140 - 90) * ((100vw - 600px) / (1920 - 600)));
    font-weight: 700;
    color: $razzmatazz;
    opacity: .3;
    user-select: none;
  }
}
