.heading {
  @include flex-font(40, 55);

  margin: 0;
  line-height: 1.2;
  color: $action;

  &--white {
    color: $white;
    text-shadow: 1px 1px 16px rgba($text, .2);
  }

  &--pushed {
    @include flex-font(40, 50);

    z-index: 2;
    padding-left: $container-gutter * 2;
  }

  &--dark {
    color: $text;
  }

  &--small {
    font-size: 40px;
  }

  &:not(:last-child) {
    margin-bottom: .8em;
  }

  @media #{$screen-sm} {
    &--pushed {
      position: absolute;
      top: -70px;
      left: 60%;
      padding-left: 0;
    }
  }

  @media #{$screen-md} {
    &--pushed {
      left: 40%;
    }
  }

  @media #{$screen-lg} {
    &--pushed {
      left: 22%;
    }
  }
}
