.timeline {
  $spacing: 3 * $container-gutter;
  $inner-spacing: 30px;
  $circle-size: 6px;
  $circle-border: 3px;
  $line-size: 3px;

  &__content {
    @extend %container;
  }

  &__step:after {
    position: absolute;
    z-index: 1;
    width: $circle-size;
    height: $circle-size;
    background-color: $white;
    border-radius: 100%;
    content: '';
  }

  &__part {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:before {
      position: absolute;
      content: '';
    }

    &--top {
      &:before {
        background-color: $action;
      }

      .timeline__time {
        color: $action;
      }

      .timeline__step:after {
        border: $circle-border solid $action;
      }
    }

    &--bottom {
      .timeline__time {
        color: $accent;
      }

      &:before {
        background-color: $accent;
      }

      .timeline__step:after {
        border: $circle-border solid $accent;
      }
    }
  }

  &__title,
  &__time {
    @include flex-font(15, 17);
  }

  &__title {

    margin: 0;
    padding-bottom: .5em;
    font-weight: 500;
  }

  &__time {
    font-weight: 700;
  }

  &__text {
    font-size: map-get($font-sizes, 'tiny');
    font-weight: 600;
    color: lighten($text, 40%);

    & + & {
      margin-top: .5em;
    }
  }

  &__stepWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }

  @media #{$screen-max-md} {
    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__step {
      position: relative;
      display: flex;
      flex-direction: column;
      font-size: 18px;
    }

    &__part {
      &:before {
        top: 0;
        left: calc((100% - #{$line-size}) / 2);
        width: $line-size;
        height: 100%;
      }

      &:after {
        position: absolute;
        right: calc(50% - 2px);
        bottom: - $spacing;
        width: 1px;
        height: $spacing;
        border: 0;
        border-left: 3px solid rgba($text, .1);
        border-style: dashed;
        content: '';
      }

      > :last-child {
        align-self: flex-end;
        padding-left: $inner-spacing;
      }

      > :first-child {
        padding-right: $inner-spacing;
        text-align: right;
      }

      &--top {
        &:before {
          top: -$spacing;
          height: calc(100% + #{$spacing});
        }

        .timeline__step {
          width: 50%;

          &:nth-child(2) {
            margin-top: $spacing;
          }

          &:nth-child(1):after {
            top: 0;
            right: -$circle-size;
          }

          &:nth-child(2):after {
            bottom: 0;
            left: -$circle-size;
          }
        }
      }

      &--bottom {
        .timeline__step {
          &:after {
            right: calc(-#{$inner-spacing} - #{$circle-size});
          }

          &:nth-child(1):after {
            top: 0;
          }

          &:nth-child(2):after {
            bottom: 0;
          }
        }
      }
    }

    &__part + &__part {
      margin-top: $spacing;
    }

    &__details {
      width: 50%;
    }

    &__detail {
      font-size: map-get($font-sizes, 'small');
    }

    &__detail + &__detail {
      margin-top: $spacing;
    }
  }

  @media #{$screen-md} {
    &__content {
      display: flex;
      align-items: start;
      flex-direction: column;
      justify-content: space-between;
    }

    &__part {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-bottom: $inner-spacing;

      &:before {
        bottom: 0;
        left: 0;
        width: 100%;
        height: $line-size;
      }

      &--bottom {
        margin-bottom: 100px;

        &:after {
          position: absolute;
          bottom: 0;
          left: -$inner-spacing;
          width: $inner-spacing;
          height: 1px;
          border: 0;
          border-bottom: 3px solid rgba($text, .1);
          border-style: dashed;
          content: '';
        }

        &:before {
          background-color: $accent;
        }
      }
    }

    &__stepWrapper {
      flex-direction: row;
      width: 100%;
    }

    &__part + &__part {
      margin-top: $inner-spacing * 2;
    }

    &__step {
      position: relative;
      width: auto;

      &:after {
        bottom: calc(-#{$inner-spacing} - #{$circle-size} + 1px);
        left: 0;
      }

      &:last-of-type {
        text-align: right;

        &:after {
          right: 0;
          left: unset;
        }
      }
    }

    &__details {
      position: absolute;
      bottom: calc(-100% - #{$inner-spacing});
      left: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__detail {
      flex: 0 0 33%;

      &:last-child {
        text-align: right;
      }
    }

    &__detail + &__detail {
      padding-left: $inner-spacing / 3;
    }

    &__content {
      flex-direction: row;
    }

    &__part--top {
      flex: 0 0 calc(40% - (#{$inner-spacing} / 2));
    }

    &__part--bottom {
      flex: 0 0 calc(60% - (#{$inner-spacing} / 2));
    }

    &__part + &__part {
      margin-top: 0;
      margin-left: $inner-spacing;
    }
  }
}
