.timeline {
  $spacing: 3 * $container-gutter;
  $inner-spacing: 30px;
  $circle-size: 6px;
  $circle-border: 5px;
  $line-size: 5px;
  $line-dashed: $line-size dashed rgba($star-dust, .3);

  position: relative;
  z-index: 9;
  background-color: $background;

  &__container {
    @extend %container;
  }

  &__content {
    display: flex;
  }

  &__step:after {
    position: absolute;
    z-index: 1;
    width: $circle-size;
    height: $circle-size;
    background-color: $white;
    border-radius: 100%;
    content: '';
  }

  &__step--bottom:after {
    border: $circle-border solid $text;
  }

  &__part {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:before {
      position: absolute;
      content: '';
    }

    &--top {
      &:before {
        background-color: $action;
      }

      .timeline__time {
        color: $action;
      }

      .timeline__step:after {
        border: $circle-border solid $action;
      }
    }

    &--bottom {
      .timeline__time {
        color: $accent;
      }

      &:before {
        background-color: $accent;
      }

      .timeline__step:after {
        border: $circle-border solid $accent;
      }
    }
  }

  &__title,
  &__time {
    @include flex-font(15, 17);
  }

  &__title {
    margin: 0;
    padding-bottom: .5em;
    font-weight: 500;
  }

  &__time {
    font-weight: 700;
  }

  &__text {
    font-size: map-get($font-sizes, 'tiny');
    font-weight: 600;
    color: lighten($text, 40%);

    & + & {
      margin-top: .5em;
    }
  }

  &__stepWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }

  @media #{$screen-max-md} {
    &__content {
      flex-direction: column;
      width: 100%;
      padding: 3rem 0;
    }

    &__step {
      position: relative;
      display: flex;
      flex-direction: column;
      font-size: 18px;

      &--bottom {
        align-items: flex-end;

        &:after {
          top: calc((100% - #{$circle-size}) / 2);
          right: calc(-#{$circle-size} - #{$circle-border / 2});
        }
      }
    }

    &__part {
      &:before {
        top: 0;
        left: calc((100% - #{$line-size}) / 2);
        width: $line-size;
        height: 100%;
      }

      > :last-child {
        align-self: flex-end;
        padding-left: $inner-spacing;
      }

      > :first-child {
        padding-right: $inner-spacing;
        text-align: right;
      }

      &--top {
        &:before {
          top: -$spacing;
          height: calc(100% + #{$spacing});
        }

        .timeline__step {
          width: 50%;

          &:nth-child(2) { margin-top: $spacing; }

          &:nth-child(1):after {
            top: 0;
            right: calc(-#{$circle-border} - #{$circle-size / 2});
          }

          &:nth-child(2):after {
            bottom: 0;
            left: calc(-#{$circle-border} - #{$circle-size / 2});
          }
        }
      }

      &--bottom {
        .timeline__step {
          &:after {
            right: calc(-#{$inner-spacing} - (#{$circle-size} + #{$circle-border / 2}));
          }

          &:nth-child(1):after { top: 0; }

          &:nth-child(2):after { bottom: 0; }
        }

        &:after {
          position: absolute;
          bottom: -3rem;
          left: calc(50% - #{$line-size / 2});
          width: 0;
          height: 3rem;
          border-left: $line-dashed;
          border-width: 0;
          content: '';
        }
      }

      &--middle {
        padding: $inner-spacing 0;

        &:before {
          width: 0;
          height: 100%;
          border-left: $line-dashed;
          border-width: 0;
        }

        .timeline__step { width: 50%; }
      }
    }

    &__details {
      width: 50%;
      padding: $inner-spacing 0;
    }
  }

  @media #{$screen-md} {
    &__content {
      align-items: start;
      flex-direction: row;
      justify-content: space-between;
      padding: 12rem 0;
    }

    &__part {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;

      &:before {
        bottom: 0;
        left: 0;
        width: 100%;
        height: $line-size;
      }

      &--top {
        flex: 0 1 auto;

        &:before {
          right: 0;
          left: auto;
          width: 100vw;
        }
      }

      &--middle {
        flex: 1 0 calc(1440px / 5);
        max-width: 25%;

        &:before {
          height: 0;
          border: 0;
          border-bottom: $line-dashed;
        }
      }

      &--bottom {
        flex: 0 1 auto;

        &:after {
          position: absolute;
          top: -$line-size;
          left: 100%;
          width: 100vw;
          border: 0;
          border-bottom: $line-dashed;
          content: '';
        }
      }
    }

    &__stepWrapper {
      flex-direction: row;
      width: 100%;
    }

    &__step {
      position: absolute;
      bottom: $inner-spacing;
      width: 100%;

      &:after {
        bottom: calc(-#{$inner-spacing} - #{$circle-size} + 1px);
        left: 0;
      }

      &:nth-of-type(2) {
        text-align: right;

        &:after {
          right: 0;
          left: unset;
        }
      }

      &--bottom {
        top: calc(#{$inner-spacing} - #{$circle-size});
        bottom: auto;
        display: flex;
        flex-direction: column-reverse;
        padding: 0 $inner-spacing;
        text-align: center;

        &:after {
          top: calc(-#{$inner-spacing} - #{$circle-border});
          left: calc((100% - #{$circle-size}) / 2);
          border: $circle-border solid $text;
        }
      }
    }

    &__details {
      position: absolute;
      top: #{$inner-spacing};
      left: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
  }
}
