.peopleGrid {
  position: relative;
  z-index: 8;
  width: 100%;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 1rem 0;
  }

  &__column {
    flex: 0 0 calc(1400px / 5);
    width: 100%;
  }

  @media #{$screen-max-md} {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 5px;
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }

    &__container {
      display: block;
      max-width: 73rem;
      margin: 0 auto;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }

    &__column {
      flex: 0 0 200px;
      padding-right: 1rem;
    }
  }

  @media #{$screen-md} {
    padding: 1rem 0;

    &__container {
      &:before,
      &:after {
        position: absolute;
        z-index: 9;
        width: 60px;
        height: 60px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
      }

      &:before {
        top: 0;
        right: 10%;
        background-image: url('../../assets/icon-quotation-pink.png');
      }

      &:after {
        bottom: 0;
        left: 10%;
        background-image: url('../../assets/icon-x-yellow.png');
      }
    }

    &__list {
      overflow-x: scroll;

      &::-webkit-scrollbar {
        height: 5px;
        background: transparent;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: transparent;
      }
    }
  }
}
