.peopleGrid {
  width: 100%;
  overflow-x: scroll;

  &__container {
    display: block;
    max-width: 73rem;
    margin: 0 auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 1rem 0;
  }

  &__column {
    width: 100%;
    flex: 0 0 calc(1400px / 5);
  }

  @media #{$screen-max-md} {
    &__column {
      flex: 0 0 200px;
      padding-right: 1rem;
    }
  }
}
