{
  "presets": [
    ["preact-cli/babel", { "modules": "commonjs" }],
    "es2015",
    "stage-0"
  ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ],
    [
      "babel-plugin-jsx-pragmatic",
      {
        "module": "preact",
        "import": "h",
        "export": "h"
      }
    ]
  ]
}