.slider {
  $margin: 90px;

  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;

  &__content {
    display: flex;
  }

  &__column {
    width: 100%;
    min-width: calc(100% / 2.2);
    margin-top: -1px;
    padding-left: 20px;
  }

  &__actions {
    @extend %container;

    display: flex;
    justify-content: flex-start;
    margin-block-end: 2em;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.2em;
    height: 35px;
    line-height: 35px;
    background: $accent;
    font-size: map-get($font-sizes, 'tiny');
    border-radius: 3px;
    font-weight: 700;
    color: $white;
    transition: background .3s ease-in-out;

    & + & {
      margin-left: .5em;
    }
    
    &:disabled {
      background: #e5e5e5;
      color: #949493;

      .slider__arrow {
        fill: #949493;
      }
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__arrow {
    fill: $white;
    transition: fill .3s ease-in-out;

    &--left {
      transform: rotate(180deg);
    }
  }
}
